<style>
    .article-div{
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 1rem;
        padding-top: 1.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .article-div:hover {
        /* box-shadow: 0 0 25px #ccc; */
        background: #f2f2f2;
    }
    .article-div:first-child{
        padding-top: 0.4rem;
    }
    .small-font{
        font-size: 12px;
    }
</style>
{% for article in article_list %}
    <div class="article-div">
        <a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
        <div class="am-fr small-font">
            {{ article.create_at | date:"DATETIME_FORMAT" }}
            {% if show_name %}
                <a href="{% url 'blog:user_information' article.user_id %}">{{ article.user.name }}</a>
            {% endif %}
        </div>
        <div>
            {{ article.content | safe | striptags | truncatechars:100 }}
        </div>
        <div class="am-cf">
            <span class="am-fr small-font">
                评论(<a href="{% url 'blog:article_detail' article.id %}">{{ article.comment_count }}</a>)
            </span>
            <span class="am-fr small-font" style="margin-right:10px">
                阅读(<a href="{% url 'blog:article_detail' article.id %}">{{ article.read_count }}</a>)
            </span>
        </div>
    </div>
{% endfor %}