{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .article-div{
           border-bottom: 1px solid #c5c5c5;
        }
        .article-header{
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .article-info{
            font-size: 12px;
            padding-top: 5px;
        }
        .comment-list-div{
            border-bottom: 1px solid #c5c5c5;
        }
        .comment-div{
            border-top: 1px solid #c5c5c5;
            background: #f2f2f2;
{#            padding: 10px;#}
        }
        .comment-user-info{
            text-align: center;
{#            border-right:1px solid #c5c5c5;#}
            padding: 10px;
        }
        .comment-user-info img{
            width: 80px;
            margin: 0 auto;
        }
        .comment-right{
            background: white;
{#            width: 821px;#}
{#            min-height: 165px;#}
            padding: 10px;
        }
        .comment-body{
{#            padding: 20px;#}
{#            width: 800px;#}
{#            min-height: 130px;#}
            min-height: 85px;
        }
        .comment-extra{
            font-size: 13px;
            padding: 0;
        }
        .show_reply_btn{
            cursor: pointer;
        }
        .reply-list-div{
            background: #f7f8fa;
{#            width: 570px;#}
            float: right;
            border: 1px solid #f0f1f2;
            margin: 10px 0;
            display: none;
        }
        .reply-div{
            padding: 6px 10px;
            border-bottom: 1px solid #e5e5e5;
        }
        .reply-div img{
            width: 40px;

        }
        .reply-textarea{
{#            margin:10px;#}
            margin-bottom: 0;
{#            width: 550px;#}
            resize: none;
{#            height: #}
        }
        .reply_btn{
            cursor: pointer;
        }
        .textarea{
            width: 100%;
            height: 200px;
            resize: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.show_reply_btn').click(function () {
                comment_div=$(this).closest('.comment-div')
                if($(this).text() == '回复'){
                    $(this).parent().nextAll('.reply-list-div').slideDown()

                    $(this).text('收起回复')
                }else{
                    $(this).parent().nextAll('.reply-list-div').slideUp()
                    $(this).text('回复')
                }
            })
            $('.reply_btn').click(function () {
                textarea = $(this).closest('.reply-list-div').find('textarea')
                content = textarea.val()
                comment_id = $(this).closest('.comment-div').attr('data')
                $.post('/blog/ajax_reply/'+comment_id, {content: content}, function (result) {
                    if(result == 'true'){
                        div = '<div class="reply-div">' +
                                    '<img src="{% firstof request.session.user.profile_picture_image_url '/static/image/default_profile_picture.jpg' %}" class="" alt=""/>' +
                                    '<a href="#">{{ request.session.user.name }}:</a>\n' +
                                    content +
                                '</div>'
                        $('.reply-div:last').after(div)
                        // 评论成功清空textarea内容
                        textarea.val('')
                    }
                })
            })
            if (location.hash){
                console.log(location.hash)
                $(location.hash).find('.show_reply_btn').click()
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="am-cf am-padding">
        <div class="article-div">
            <div class="article-header">
                <a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
                <div class="am-fr article-info">
                    {{ article.create_at | date:"DATETIME_FORMAT"}}
                    <a href="{% url 'blog:user_information' article.user.id %}">{{ article.user.name }}</a>
                </div>
            </div>
            <div>
                {{ article.content | safe }}
            </div>
        </div>
        <h2>评论列表</h2>
        <div class="comment-list-div am-cf">
            {% for comment in comment_list %}
                <div class="comment-div am-cf" data="{{ comment.id }}" id="{{ comment.id }}">
                    <div class="comment-user-info am-fl am-u-sm-3 am-u-lg-2">
                        <img src="{% firstof comment.user.profile_picture.image.url '/static/image/default_profile_picture.jpg' %}" class="am-img-responsive" alt=""/>
                        <a href="#" class="am-text-sm">{{ comment.user.name }}</a>
                    </div>
                    <div class="comment-right am-fl am-u-sm-9 am-u-lg-10">
                        <div class="comment-body">
                            {{ comment.content }}
                        </div>
                        <div class="comment-extra am-fr am-u-sm-12">
                            <div class="am-cf">
                                <a class="show_reply_btn am-fr">回复</a>
                                <span class="am-fr">{{ comment.create_at }}</span>
                            </div>
                            <div class="reply-list-div am-u-sm-9">
                                {% for reply in comment.reply_set.all %}
                                    <div class="reply-div">
                                        <img src="{% firstof reply.user.profile_picture.image.url '/static/image/default_profile_picture.jpg' %}" class="" alt=""/>
                                        <a href="#">{{ reply.user.name }}:</a>
                                        {{ reply.content }}
                                    </div>
                                {% endfor %}
                                <div class='am-cf' style="padding:10px">
                                    <textarea class="reply-textarea am-u-sm-12"></textarea>
                                </div>
                                <div class="am-padding-sm am-cf" style="padding-top:0px">
                                    <input type="button" value="回复" class="am-btn am-btn-primary am-btn-xs am-fr reply_btn">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-cf"></div>

                </div>
            {% endfor %}
        </div>
        <h2>发表评论</h2>
        <div class="publish-comment am-g">
            <form method="post" action="{% url 'blog:publish_comment' article.id %}">
                {% csrf_token %}
                <textarea class="textarea" name="content"></textarea>
                <div class="am-padding am-fr">
                    <input type="submit" value="评 论" class="am-btn am-btn-primary">
                </div>
            </form>

        </div>
    </div>
{% endblock %}