{% extends 'base.html' %}

{% block css %}
    <style>
        .am-pagination{
            text-align: center;
        }
        .am-pagination>li>a, .am-pagination>li>span{
            padding: .25em .5em;
        }
        .am-pagination>li>a{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('#pre_btn').click(function () {
                page = parseInt($('ul.am-pagination li.am-active a').text())
                location.href = '/blog/'+(page-1)
            })
            $('#next_btn').click(function () {
                page = parseInt($('ul.am-pagination li.am-active a').text())
                location.href = '/blog/'+(page+1)
            })
        })
    </script>
{% endblock %}

{% block content %}
    {% include 'article_list.html' with article_list=article_list show_name=True %}
    <div >
        {% load extra_tags %}
        {% get_display_page_range article_list.paginator.num_pages article_list.number as display_page_range  %}
        <ul class="am-pagination am-pagination-left">
            <li class="{% if not article_list.has_previous %}am-disabled{% endif %}"><a id="pre_btn">&laquo;</a></li>
            {% if display_page_range|first != 1 %}
                <li><span>...</span></li>
            {% endif %}
            {% for p in display_page_range %}
                <li class="{% if article_list.number == p %}am-active{% endif %}"><a href="{% url 'blog:index' p %}">{{ p }}</a></li>
            {% endfor %}
            {% if display_page_range|last != article_list.paginator.num_pages %}
                <li><span>...</span></li>
            {% endif %}
            <li class="{% if not article_list.has_next %}am-disabled{% endif %}"><a id="next_btn">&raquo;</a></li>
        </ul>
{#        <ul class="am-pagination am-pagination-left">#}
{#            <li class="{% if not article_list.has_previous %}am-disabled{% endif %}"><a id="pre_btn">&laquo;</a></li>#}
{#            {% for p in article_list.paginator.page_range %}#}
{#                <li class="{% if article_list.number == p %}am-active{% endif %}"><a href="{% url 'blog:index' p %}">{{ p }}</a></li>#}
{#            {% endfor %}#}
{#            <li class="{% if not article_list.has_next %}am-disabled{% endif %}"><a id="next_btn">&raquo;</a></li>#}
{#        </ul>#}
    </div>
{% endblock %}