{% load static %}

<style>
    .pp-list-div{
        width:410px;
        text-align: left;
    }
    .pp-list-ul{
        list-style-type:none;
        padding: 10px;
        cursor: pointer;
    }
    .pp-li{
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        margin-top: 5px;
    }
    .select-span{
        visibility: hidden;
    }
    .pp-li.active .select-span{
        visibility: visible;
    }
    .pp-img{
        width: 50px;
    }
    .select-span{
        background: url({% static 'image/profile_picture_select.png' %});
        display: inline-block;
        height: 50px;
        width: 50px;
        position: relative;
        top: -50px;
        zoom: 1;
    }
</style>

<div class="pp-list-div">
    <ul class="pp-list-ul am-cf">
    {% for pp in profile_picture_list %}
        <li class="pp-li" data="{{ pp.id }}">
            <img src="{{ pp.image.url }}" class="pp-img" alt=""/>
            <span class="select-span"></span>
        </li>
    {% endfor %}
    </ul>
</div>