{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script>
        $(function () {
            path = '{{ request.path }}'
            path = path.match(/^\/\w+\/\w+/)[0]
            $('a[href="'+path+'"]').closest('li').addClass('am-active')
            $('#follow_btn').click(function () {
                is_followed = $(this).val() == '已关注'
                console.log(is_followed)
                user_id = $(this).attr('data')
                path = is_followed ? 'ajax_cancel_follow' : 'ajax_follow'
                $.get('/blog/'+path+'/'+user_id, function (result) {
                    console.log(result)
                    location.reload()
                })
            })
            $('#modify_user_info_btn').click(function () {
                location.href = '{% url 'blog:modify_user_info' %}'
            })
        })
    </script>
    {% block extra_js %}{% endblock %}
{% endblock %}

{% block css %}
    <style>
        .user-info-div{
            background: #f6f6f6;
            padding: 20px;
        }
        .user-name-div{
            padding: 10px 20px;
        }
    </style>
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="user-info-div am-cf">
            <img src="{% firstof user.profile_picture.image.url '/static/image/default_profile_picture.jpg' %}" class="am-img-responsive am-fl" alt=""/>
            <div class="user-name-div am-fl">
                <p>{{  user.name }}</p>
                {% if request.session.user.id != user.id %}
                    <input type="button" id="follow_btn" value="{% if is_followed %}已关注{% else %}关注{% endif %}" class="am-btn am-btn-xs am-round am-btn-primary" data="{{ user.id }}">
                {% else %}
                    <input type="button" id="modify_user_info_btn" value="修改个人信息" class="am-btn am-btn-xs am-round am-btn-primary">
                {% endif %}
            </div>

        </div>
        <div style="margin:30px 0 20px" >
            <ul class="am-nav am-nav-tabs am-nav-justify">
                {% if request.session.user.id == user.id %}
                    <li><a href="{% url 'blog:user_information' %}">我的主页</a></li>
                {% else %}
{#                    <li><a href="{% url 'blog:user_information' user.id|default:'' %}">他的主页</a></li>#}
                {% endif %}
                {% if request.session.user.id == user.id %}
                    <li><a href="{% url 'blog:user_article_manage' %}">我的博文</a></li>
                    <li><a href="{% url 'blog:user_notice' %}">我的通知</a></li>
                    <li><a href="{% url 'blog:user_follow' %}">我关注的</a></li>
                    <li><a href="{% url 'blog:user_followed' %}">关注我的</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="am-cf">
            {% block user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}